{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h2>Dashboard</h2>
    <div class="top-frames">
        <div class="top-frame">
            <h4>Instagram</h4>
            <p>ketrangan</p>
        
            <!-- <label class="switch">
                <input type="checkbox" id="toggleGame1">
                <span class="slider"></span>
            </label> -->
        </div>
        <div class="top-frame">
            <h4>Twitter</h4>
            <p>Keterangan</p>
        
            <!-- <label class="switch">
                <input type="checkbox" id="toggleGame2">
                <span class="slider"></span>
            </label> -->
        </div>
        <div class="top-frame">
            <h4>Facebook</h4>
            <p>Keterangan</p>
        
            <!-- <label class="switch">
                <input type="checkbox" id="toggleGame2">
                <span class="slider"></span>
            </label> -->
        </div>
    </div>
{% endblock %}
